.message{
    font-size: 40px;
}

.ourMessage{
    text-align: right;
    background-color: darkgray;
}

.theirMessage{
    text-align: left;
    background-color: lightgray;
}

.messageTemp{
    margin-top: 750px;
    vertical-align: bottom;
    background-color: coral;
    text-align: center;
}